## Settings file was created by plugin BetterStations v1.0.7
## Plugin GUID: blacks7ar.BetterStations

[1- ServerSync]

## If On, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[Charcoal Kiln]

## Build Category where Charcoal Kiln is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: BetterStations
Custom Build Category = BetterStations

## Comma separated list of tools where Charcoal Kiln is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Charcoal Kiln is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Charcoal Kiln
# Setting type: String
# Default value: Stone:20:True,SurtlingCore:5:True
Crafting Costs = Stone:20:True,SurtlingCore:5:True

[Eitr Refinery]

## Build Category where Eitr Refinery is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: BetterStations
Custom Build Category = BetterStations

## Comma separated list of tools where Eitr Refinery is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Eitr Refinery is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Eitr Refinery
# Setting type: String
# Default value: BlackMarble:20:True,BlackMetal:5:True,YggdrasilWood:10:True,BlackCore:5:True,Sap:3:True
Crafting Costs = BlackMarble:20:True,BlackMetal:5:True,YggdrasilWood:10:True,BlackCore:5:True,Sap:3:True

[Fermenter]

## Build Category where Fermenter is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: BetterStations
Custom Build Category = BetterStations

## Comma separated list of tools where Fermenter is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Fermenter is available.
# Setting type: CraftingTable
# Default value: Forge
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = Forge

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Fermenter
# Setting type: String
# Default value: FineWood:30:True,Bronze:5:True,Resin:10:True
Crafting Costs = FineWood:30:True,Bronze:5:True,Resin:10:True

[Ore Smelter]

## Build Category where Ore Smelter is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: BetterStations
Custom Build Category = BetterStations

## Comma separated list of tools where Ore Smelter is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Ore Smelter is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Ore Smelter
# Setting type: String
# Default value: Stone:35:True,SurtlingCore:5:True
Crafting Costs = Stone:35:True,SurtlingCore:5:True

[Spinning Wheel]

## Build Category where Spinning Wheel is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: BetterStations
Custom Build Category = BetterStations

## Comma separated list of tools where Spinning Wheel is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Spinning Wheel is available.
# Setting type: CraftingTable
# Default value: ArtisanTable
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = ArtisanTable

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Spinning Wheel
# Setting type: String
# Default value: FineWood:20:True,IronNails:10:True,LeatherScraps:5:True
Crafting Costs = FineWood:20:True,IronNails:10:True,LeatherScraps:5:True

[Windmill]

## Build Category where Windmill is available.
# Setting type: BuildPieceCategory
# Default value: Custom
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Custom

# Setting type: String
# Default value: BetterStations
Custom Build Category = BetterStations

## Comma separated list of tools where Windmill is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Windmill is available.
# Setting type: CraftingTable
# Default value: ArtisanTable
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = ArtisanTable

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Windmill
# Setting type: String
# Default value: Stone:20:True,Wood:30:True,IronNails:30:True
Crafting Costs = Stone:20:True,Wood:30:True,IronNails:30:True

