## Settings file was created by plugin NotificationsOverhaul v1.0.3
## Plugin GUID: blacks7ar.NotificationsOverhaul

[1- ServerSync]

## If On, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[2- General]

## How long the notification stays visible. [Synced with Server]
# Setting type: Single
# Default value: 4
# Acceptable value range: From 0,1 to 10
Notification Duration = 4

## How many notification is visible at the same time. [Synced with Server]
# Setting type: Int32
# Default value: 5
# Acceptable value range: From 1 to 10
Max Visible Notifications = 5

## Only pickup notifications will be added to the custom notification panel. [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Pickup Notifications Only = Off

## Notification panels position on the screen. [Synced with Server]
# Setting type: Vector2
# Default value: {"x":40.0,"y":-160.0}
Notifications Panel Position = {"x":40.0,"y":-160.0}

## Notification panels text font size. [Synced with Server]
# Setting type: Single
# Default value: 18
Text Font Size = 18

## Notifications text color. [Synced with Server]
# Setting type: Color
# Default value: FFFFFFFF
Text Color = FFFFFFFF

