## Settings file was created by plugin DodgeShortcut v1.1.1
## Plugin GUID: buzz.valheim.DodgeShortcut

[1Hotkeys]

# Setting type: KeyboardShortcut
# Default value: W + LeftAlt
1Dodge Forward 向后翻滚 = W + LeftAlt

# Setting type: KeyboardShortcut
# Default value: S + LeftAlt
2Dodge Backward 向前翻滚 = S + LeftAlt

# Setting type: KeyboardShortcut
# Default value: A + LeftAlt
3Dodge Left 向左翻滚 = A + LeftAlt

# Setting type: KeyboardShortcut
# Default value: D + LeftAlt
4Dodge Right 向右翻滚 = D + LeftAlt

# Setting type: KeyboardShortcut
# Default value: LeftAlt
5Dodge where you run to向你的奔跑方向翻滚 = LeftAlt

[General]

## Nexus mod ID for updates
# Setting type: Int32
# Default value: 424
NexusID = 424

