## Settings file was created by plugin Valheim Admin Mod v1.0.0
## Plugin GUID: com.twojanazwa.valheimadminmod

[Addons.Fermenters]

## Kadzie fermentacyjne działają bez dachu i zakrycia (70% cover).
# Setting type: Boolean
# Default value: false
WorkWithoutCover = true

[Hotkeys]

## Przełącza menu admina.
# Setting type: String
# Default value: F10
ToggleMenu = F10

## Przełącza God Mode.
# Setting type: String
# Default value: F1
ToggleGodMode = None

## Przełącza Fly Mode.
# Setting type: String
# Default value: F2
ToggleFlyMode = Alt+F

## Przełącza nieskończoną staminę.
# Setting type: String
# Default value: F3
ToggleUnlimitedStamina = Alt+S

## Pełne leczenie (HP, stamina, eitr).
# Setting type: String
# Default value: Shift+H
Heal = Shift+H

