## Settings file was created by plugin CraftingStationTweakz v0.0.1
## Plugin GUID: DeathWizsh.CraftingStationTweakz

[General]

## The base build range of the crafting station. (only updates on restart for already existing crafting stations)
# Setting type: Single
# Default value: 20
# Acceptable value range: From 5 to 50
Build range = 20

## Each upgrade increases the crafting station's build range. (only updates on restart for already existing crafting stations)
# Setting type: Single
# Default value: 4
# Acceptable value range: From 4 to 50
Build range increase per upgrade = 10

## The maximum distance at which upgrades still connect to the crafting station. (only updates on restart for already existing crafting stations)
# Setting type: Single
# Default value: 10
# Acceptable value range: From 5 to 50
Upgrade range = 10

## The minimum required spacing between upgrades in order to place them (game default is 2). (only updates on restart for already existing crafting stations)
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 10
Space requirement between upgrades = 0

