## Settings file was created by plugin Fermenter Utilities v1.1.3
## Plugin GUID: kompjoefriek.FermenterUtilities

[1 - Global]

## Enable or disable this mod
# Setting type: Boolean
# Default value: true
Enable Mod = false

## Enable or disable logging for this mod
# Setting type: Boolean
# Default value: false
Enable Mod Logging = false

[2 - Progress]

## Shows the fermentation progress as a percentage when you hover over the fermenter
# Setting type: Boolean
# Default value: true
Show Percentage = false

## Makes it so the percentage changes color depending on the progress
# Setting type: Boolean
# Default value: true
Show Percentage Color = false

## The amount of decimal places to show for the percentage
# Setting type: Int32
# Default value: 2
Show Percentage Decimal Places = 2

## Show the time when done
# Setting type: Boolean
# Default value: false
Show Time = false

[3 - Time]

## Enables the custom time for fermentation
# Setting type: Boolean
# Default value: false
Custom Time = false

## The amount of minutes fermentation takes (Default 40)
# Setting type: Int32
# Default value: 5
Fermentation Time = 5

[4 - Cover]

## Allow the Fermenter to work without any cover
# Setting type: Boolean
# Default value: false
Work Without Cover = true

