## Settings file was created by plugin Jam v1.1.0
## Plugin GUID: randyknapp.mods.jam

[Jam 1 - RaspberryJam]

## Enable the Jam to be crafted [Synced with Server]
# Setting type: Boolean
# Default value: true
Jam Enabled = true

## The items needed to craft the Jam. A comma separated list of ITEM:QUANTITY pairs separated by a colon. [Synced with Server]
# Setting type: String
# Default value: Raspberry:14
Jam Recipe = Raspberry:14

## Duration the Jam last in seconds. [Synced with Server]
# Setting type: Single
# Default value: 1200
Jam Duration = 1200

## Health value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 14
Jam Health = 14

## Stamina value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 30
Jam Stamina = 30

## Etir value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 0
Jam Etir = 0

## Health Regen value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 1
Jam Health Regen = 1

[Jam 10 - AshlandsJam]

## Enable the Jam to be crafted [Synced with Server]
# Setting type: Boolean
# Default value: true
Jam Enabled = true

## The items needed to craft the Jam. A comma separated list of ITEM:QUANTITY pairs separated by a colon. [Synced with Server]
# Setting type: String
# Default value: Vineberry:4,MushroomSmokePuff:4,Onion:2,Honey:2
Jam Recipe = Vineberry:4,MushroomSmokePuff:4,Onion:2,Honey:2

## Duration the Jam last in seconds. [Synced with Server]
# Setting type: Single
# Default value: 1500
Jam Duration = 1500

## Health value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 40
Jam Health = 40

## Stamina value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 60
Jam Stamina = 60

## Etir value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 35
Jam Etir = 35

## Health Regen value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 4
Jam Health Regen = 4

[Jam 2 - HoneyRaspberryJam]

## Enable the Jam to be crafted [Synced with Server]
# Setting type: Boolean
# Default value: true
Jam Enabled = true

## The items needed to craft the Jam. A comma separated list of ITEM:QUANTITY pairs separated by a colon. [Synced with Server]
# Setting type: String
# Default value: Raspberry:8,Honey:4
Jam Recipe = Raspberry:8,Honey:4

## Duration the Jam last in seconds. [Synced with Server]
# Setting type: Single
# Default value: 1200
Jam Duration = 1200

## Health value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 18
Jam Health = 18

## Stamina value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 35
Jam Stamina = 35

## Etir value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 0
Jam Etir = 0

## Health Regen value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 2
Jam Health Regen = 2

[Jam 3 - BlueberryJam]

## Enable the Jam to be crafted [Synced with Server]
# Setting type: Boolean
# Default value: true
Jam Enabled = true

## The items needed to craft the Jam. A comma separated list of ITEM:QUANTITY pairs separated by a colon. [Synced with Server]
# Setting type: String
# Default value: Blueberries:14
Jam Recipe = Blueberries:14

## Duration the Jam last in seconds. [Synced with Server]
# Setting type: Single
# Default value: 1200
Jam Duration = 1200

## Health value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 14
Jam Health = 14

## Stamina value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 35
Jam Stamina = 35

## Etir value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 0
Jam Etir = 0

## Health Regen value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 1
Jam Health Regen = 1

[Jam 4 - HoneyBlueberryJam]

## Enable the Jam to be crafted [Synced with Server]
# Setting type: Boolean
# Default value: true
Jam Enabled = true

## The items needed to craft the Jam. A comma separated list of ITEM:QUANTITY pairs separated by a colon. [Synced with Server]
# Setting type: String
# Default value: Blueberries:8,Honey:4
Jam Recipe = Blueberries:8,Honey:4

## Duration the Jam last in seconds. [Synced with Server]
# Setting type: Single
# Default value: 1200
Jam Duration = 1200

## Health value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 18
Jam Health = 18

## Stamina value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 40
Jam Stamina = 40

## Etir value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 0
Jam Etir = 0

## Health Regen value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 2
Jam Health Regen = 2

[Jam 5 - CloudberryJam]

## Enable the Jam to be crafted [Synced with Server]
# Setting type: Boolean
# Default value: true
Jam Enabled = true

## The items needed to craft the Jam. A comma separated list of ITEM:QUANTITY pairs separated by a colon. [Synced with Server]
# Setting type: String
# Default value: Cloudberry:14
Jam Recipe = Cloudberry:14

## Duration the Jam last in seconds. [Synced with Server]
# Setting type: Single
# Default value: 1200
Jam Duration = 1200

## Health value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 26
Jam Health = 26

## Stamina value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 45
Jam Stamina = 45

## Etir value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 0
Jam Etir = 0

## Health Regen value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 1
Jam Health Regen = 1

[Jam 6 - HoneyCloudberryJam]

## Enable the Jam to be crafted [Synced with Server]
# Setting type: Boolean
# Default value: true
Jam Enabled = true

## The items needed to craft the Jam. A comma separated list of ITEM:QUANTITY pairs separated by a colon. [Synced with Server]
# Setting type: String
# Default value: Cloudberry:8,Honey:4
Jam Recipe = Cloudberry:8,Honey:4

## Duration the Jam last in seconds. [Synced with Server]
# Setting type: Single
# Default value: 1200
Jam Duration = 1200

## Health value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 30
Jam Health = 30

## Stamina value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 50
Jam Stamina = 50

## Etir value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 0
Jam Etir = 0

## Health Regen value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 2
Jam Health Regen = 2

[Jam 7 - KingsJam]

## Enable the Jam to be crafted [Synced with Server]
# Setting type: Boolean
# Default value: true
Jam Enabled = true

## The items needed to craft the Jam. A comma separated list of ITEM:QUANTITY pairs separated by a colon. [Synced with Server]
# Setting type: String
# Default value: Raspberry:8,Cloudberry:6
Jam Recipe = Raspberry:8,Cloudberry:6

## Duration the Jam last in seconds. [Synced with Server]
# Setting type: Single
# Default value: 1200
Jam Duration = 1200

## Health value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 26
Jam Health = 26

## Stamina value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 50
Jam Stamina = 50

## Etir value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 0
Jam Etir = 0

## Health Regen value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 2
Jam Health Regen = 2

[Jam 8 - NordicJam]

## Enable the Jam to be crafted [Synced with Server]
# Setting type: Boolean
# Default value: true
Jam Enabled = true

## The items needed to craft the Jam. A comma separated list of ITEM:QUANTITY pairs separated by a colon. [Synced with Server]
# Setting type: String
# Default value: Blueberries:8,Cloudberry:6
Jam Recipe = Blueberries:8,Cloudberry:6

## Duration the Jam last in seconds. [Synced with Server]
# Setting type: Single
# Default value: 1200
Jam Duration = 1200

## Health value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 26
Jam Health = 26

## Stamina value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 55
Jam Stamina = 55

## Etir value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 0
Jam Etir = 0

## Health Regen value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 2
Jam Health Regen = 2

[Jam 9 - MushroomJam]

## Enable the Jam to be crafted [Synced with Server]
# Setting type: Boolean
# Default value: true
Jam Enabled = true

## The items needed to craft the Jam. A comma separated list of ITEM:QUANTITY pairs separated by a colon. [Synced with Server]
# Setting type: String
# Default value: MushroomMagecap:4,MushroomJotunPuffs:4,Onion:2,Honey:2
Jam Recipe = MushroomMagecap:4,MushroomJotunPuffs:4,Onion:2,Honey:2

## Duration the Jam last in seconds. [Synced with Server]
# Setting type: Single
# Default value: 1500
Jam Duration = 1500

## Health value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 35
Jam Health = 35

## Stamina value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 55
Jam Stamina = 55

## Etir value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 30
Jam Etir = 30

## Health Regen value the Jam grants. [Synced with Server]
# Setting type: Single
# Default value: 3
Jam Health Regen = 3

