## Settings file was created by plugin Zen.ModLib v1.10.10
## Plugin GUID: ZenDragon.Zen.ModLib

[_Author]

## ZenDragon
## Like my mods?
# Setting type: String
# Default value: https://github.com/ZenDragonX/ZenMods_Valheim/wiki
Website = https://github.com/ZenDragonX/ZenMods_Valheim/wiki

[_Debug]

## Generate additional debug information in the logs for this mod.
## This will cause a performance hit and should only be used for debugging.
# Setting type: Boolean
# Default value: false
Enable Logging = false

## [Admin] Must be enabled by admin for any ZenMods to generate debug logs.
## If disabled prevents ZenMods from generating debug logs while connected to live servers.
## Single-player, multiplayer hosts, and dedicated servers ignore this config.
# Setting type: Boolean
# Default value: false
Allow Debug Logs = false

## Enable all debug flags for all ZenMods. Caution this will reduce performance! Useful only for internal testing.
# Setting type: Boolean
# Default value: false
Enable All Logs = false

## Cache the results of Interop SendMessage calls to improve performance.
## This is primarily a developer debug option, end users probably never need to disable this.
# Setting type: Boolean
# Default value: true
Enable Message Cache = true

## Cache the results of prefab lookups that are not found in the JVL cache.
## This is primarily a developer debug option, end users probably never need to disable this.
# Setting type: Boolean
# Default value: true
Enable Prefab Lookup Cache = true

## Verify the Valheim version is compatible with this mod.
## Expected Valheim version: 0.221.12-ServerCharacters
## Disabling this is not recommended and can lead to unpredictable runtime errors.
# Setting type: Boolean
# Default value: true
Enable Valheim Version Check = true

## [Admin] Dev debugging, you should never need to disable this.
## Toggle the display of piece highlight outlines.
## [logout required for changes to take effect]
# Setting type: Boolean
# Default value: true
Enable Highlight Outline = true

[BugFix]

## [Admin] As of Valheim Version: 0.220.5 (n-34) vanilla code is wrong.
## It is not checking if the fire is lit under a cauldron, just that it's a burning area.
## This fix verifies that the fire is actually lit.
# Setting type: Boolean
# Default value: true
Verify Fire Is Lit = true

## [Admin] Prevent excess stamina drain when running and then attacking without releasing the move button.
## In vanilla, it will keep draining your stamina as if you are running even though you are no longer running when you attack.
# Setting type: Boolean
# Default value: true
Fix Run Attack Stamina Drain = true

## [Admin] Vanilla has a bug where it does not apply the player key on boss death.
## This mostly affects Hildir's Quest when PlayerEvents is enabled.
## This option is here to turn this fix off if IG later fixes the bug.
# Setting type: Boolean
# Default value: true
Apply Player Key = true

## [Admin] The max distance that other players can be from the boss when it dies to still get the key applied.
# Setting type: Single
# Default value: 300
# Acceptable value range: From 0 to 1000
Apply Player Key Distance = 300

## [Admin] Prevent loss of resources when ZDO owner lags while another player adds fuel/ore to piece.
## Force claim ownership of the ZDO. The resource has already been removed from inventory.
# Setting type: Boolean
# Default value: true
Fix Fuel Leak = true

## [Admin] List of additional meats that wolves will eat.  Default includes Bear and Serpent, add others if desired.
# Setting type: StringList
# Default value: BjornMeat, SerpentMeat, BoneMawSerpentMeat
Fix Wolf Eat Meats = BjornMeat, SerpentMeat, BoneMawSerpentMeat

## [Admin] Prevent players from clipping through doors and walls with chairs.
# Setting type: Boolean
# Default value: true
Fix Exploit - Chair Bypass = true

## [Admin] Suppress the Too Hard message when slamming the ground to find silver.
# Setting type: Boolean
# Default value: true
Fix Exploit - Too Hard Msg = true

## [Admin] Prevent Gamepad TriggerL + X from droping items from your inventory.  It should not.
# Setting type: Boolean
# Default value: true
Fix Gamepad - Drop TriggerL + X = true

[Compatibility]

## [Admin] Enable fireplace burn rate calculations from the Seasons mod if it is installed.
## If unsure just leave this enabled, it has no effect if Seasons is not installed.
# Setting type: Boolean
# Default value: true
Use Mod Seasons Fuel Burn Rates = true

[Compendium]

## [Admin] Populate the Compendium (aka Raven Menu) with help info for installed Zen Mods.
# Setting type: Boolean
# Default value: true
Enable Help Info = true

## [Admin] Index position in the Compendium to insert help info entries.
## -1 will add to the end of the list.
## 0 will add to the top of the list.
## 2 will add after the "Message log" entry.
# Setting type: Int32
# Default value: 2
Insertion Index = 2

## [Admin] Prefix each help info entry in the Compendium with this string.
# Setting type: String
# Default value: Zen:
Label Prefix = Zen:

[Console]

## [Admin] Toggle for server-wide access to the console for all players connected to the server.
## NOTE: Admin can always access the console.
# Setting type: Boolean
# Default value: false
Allow Console = true

## [Admin] Maintenance: Allow server admins to run console commands as another player.
## Useful for admins to update or fix problems with player characters.
## Can be changed while the game is running via Configuration Manager.
## If this mod is installed on the server then the admin can toggle this for everyone.
## If not installed on the server then the receiver must manually enable this to allow access.
## Disable this when not in use to prevent griefing.
## Must be admin to use this command and in the devcommands context.
## Syntax: relay <player> <command>
# Setting type: Boolean
# Default value: false
Command Relay = false

## [Admin] Comma separated list of commands that are forced to be admin-only devcommands context.
# Setting type: StringList
# Default value: seed, printseeds, nextseed
Require Admin = seed, printseeds, nextseed

[Diagnostics]

## Upper limit before triggering a warning in the logs that config files are being thrashed. 
## This happens when mods like ConfigWatcher are spamming IO operations and constantly reloading config files.
## You really should investigate the cause of any thrashing alerts triggered by this.
## It means your config files are being reloaded constantly in the background, that can hurt performance.
## A few times is no big deal, but if it's happening constantly, you should investigate the cause.
## Set to 0 to disable the alert if you don't care about the performance impact from mods that are repeatedly hammering IO.
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 1000
Config Thrashing Warning Limit = 100

## Sanitize item and recipe data to ensure they are properly indexed.
# Setting type: Boolean
# Default value: true
Sanitize Data = true

## [Admin] Run data sanitization again after sync to compensate for some mods not registering items correctly.
## Enable this if you see errors that say: "Exception: Unable to locate item prefab. Missing dropPrefab and sharedData index"
# Setting type: Boolean
# Default value: false
Sanitize Data After Sync = false

[General]

## Default highlight color when outlining pieces.
# Setting type: Color
# Default value: FF8000FF
Default Highlight Color = FF8000FF

## [Admin] Comma separated list of regex patterns matched against the translation keys. 
## Matched keys have their translations stripped of rich text tags.
## Some mods add rich text tags like <color> to their translations.
## In order to provide a consistent UI theme you can remove those tags from the translations of matched keys.
## If you don't want to remove any tags then leave the list empty. (Default is to remove the rich text on RtD mods)
## If you need help with regex patterns then check out https://regex101.com/ or ask an AI.
# Setting type: StringList
# Default value: _RtD$
Remove Rich Text From Translations = _RtD$

[Input]

## Key to use for alternative interaction instead of Shift + E
# Setting type: KeyCode
# Default value: Q
# Acceptable values: None, Backspace, Tab, Clear, Return, Pause, Escape, Space, Exclaim, DoubleQuote, Hash, Dollar, Percent, Ampersand, Quote, LeftParen, RightParen, Asterisk, Plus, Comma, Minus, Period, Slash, Alpha0, Alpha1, Alpha2, Alpha3, Alpha4, Alpha5, Alpha6, Alpha7, Alpha8, Alpha9, Colon, Semicolon, Less, Equals, Greater, Question, At, LeftBracket, Backslash, RightBracket, Caret, Underscore, BackQuote, A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, Q, R, S, T, U, V, W, X, Y, Z, LeftCurlyBracket, Pipe, RightCurlyBracket, Tilde, Delete, Keypad0, Keypad1, Keypad2, Keypad3, Keypad4, Keypad5, Keypad6, Keypad7, Keypad8, Keypad9, KeypadPeriod, KeypadDivide, KeypadMultiply, KeypadMinus, KeypadPlus, KeypadEnter, KeypadEquals, UpArrow, DownArrow, RightArrow, LeftArrow, Insert, Home, End, PageUp, PageDown, F1, F2, F3, F4, F5, F6, F7, F8, F9, F10, F11, F12, F13, F14, F15, Numlock, CapsLock, ScrollLock, RightShift, LeftShift, RightControl, LeftControl, RightAlt, LeftAlt, RightCommand, RightMeta, RightApple, LeftCommand, LeftMeta, LeftApple, LeftWindows, RightWindows, AltGr, Help, Print, SysReq, Break, Menu, WheelUp, WheelDown, Mouse0, Mouse1, Mouse2, Mouse3, Mouse4, Mouse5, Mouse6, JoystickButton0, JoystickButton1, JoystickButton2, JoystickButton3, JoystickButton4, JoystickButton5, JoystickButton6, JoystickButton7, JoystickButton8, JoystickButton9, JoystickButton10, JoystickButton11, JoystickButton12, JoystickButton13, JoystickButton14, JoystickButton15, JoystickButton16, JoystickButton17, JoystickButton18, JoystickButton19, Joystick1Button0, Joystick1Button1, Joystick1Button2, Joystick1Button3, Joystick1Button4, Joystick1Button5, Joystick1Button6, Joystick1Button7, Joystick1Button8, Joystick1Button9, Joystick1Button10, Joystick1Button11, Joystick1Button12, Joystick1Button13, Joystick1Button14, Joystick1Button15, Joystick1Button16, Joystick1Button17, Joystick1Button18, Joystick1Button19, Joystick2Button0, Joystick2Button1, Joystick2Button2, Joystick2Button3, Joystick2Button4, Joystick2Button5, Joystick2Button6, Joystick2Button7, Joystick2Button8, Joystick2Button9, Joystick2Button10, Joystick2Button11, Joystick2Button12, Joystick2Button13, Joystick2Button14, Joystick2Button15, Joystick2Button16, Joystick2Button17, Joystick2Button18, Joystick2Button19, Joystick3Button0, Joystick3Button1, Joystick3Button2, Joystick3Button3, Joystick3Button4, Joystick3Button5, Joystick3Button6, Joystick3Button7, Joystick3Button8, Joystick3Button9, Joystick3Button10, Joystick3Button11, Joystick3Button12, Joystick3Button13, Joystick3Button14, Joystick3Button15, Joystick3Button16, Joystick3Button17, Joystick3Button18, Joystick3Button19, Joystick4Button0, Joystick4Button1, Joystick4Button2, Joystick4Button3, Joystick4Button4, Joystick4Button5, Joystick4Button6, Joystick4Button7, Joystick4Button8, Joystick4Button9, Joystick4Button10, Joystick4Button11, Joystick4Button12, Joystick4Button13, Joystick4Button14, Joystick4Button15, Joystick4Button16, Joystick4Button17, Joystick4Button18, Joystick4Button19, Joystick5Button0, Joystick5Button1, Joystick5Button2, Joystick5Button3, Joystick5Button4, Joystick5Button5, Joystick5Button6, Joystick5Button7, Joystick5Button8, Joystick5Button9, Joystick5Button10, Joystick5Button11, Joystick5Button12, Joystick5Button13, Joystick5Button14, Joystick5Button15, Joystick5Button16, Joystick5Button17, Joystick5Button18, Joystick5Button19, Joystick6Button0, Joystick6Button1, Joystick6Button2, Joystick6Button3, Joystick6Button4, Joystick6Button5, Joystick6Button6, Joystick6Button7, Joystick6Button8, Joystick6Button9, Joystick6Button10, Joystick6Button11, Joystick6Button12, Joystick6Button13, Joystick6Button14, Joystick6Button15, Joystick6Button16, Joystick6Button17, Joystick6Button18, Joystick6Button19, Joystick7Button0, Joystick7Button1, Joystick7Button2, Joystick7Button3, Joystick7Button4, Joystick7Button5, Joystick7Button6, Joystick7Button7, Joystick7Button8, Joystick7Button9, Joystick7Button10, Joystick7Button11, Joystick7Button12, Joystick7Button13, Joystick7Button14, Joystick7Button15, Joystick7Button16, Joystick7Button17, Joystick7Button18, Joystick7Button19, Joystick8Button0, Joystick8Button1, Joystick8Button2, Joystick8Button3, Joystick8Button4, Joystick8Button5, Joystick8Button6, Joystick8Button7, Joystick8Button8, Joystick8Button9, Joystick8Button10, Joystick8Button11, Joystick8Button12, Joystick8Button13, Joystick8Button14, Joystick8Button15, Joystick8Button16, Joystick8Button17, Joystick8Button18, Joystick8Button19, F16, F17, F18, F19, F20, F21, F22, F23, F24
Alternate Interact Key = Q

## Disabling this can be useful when trying to run and press E at the same time.
## NOTE: If you use other mods and disable this they won't detect the Shift input key.
## Instead you will need to use the Alternate Interact Key
# Setting type: Boolean
# Default value: true
Alternate Interact Use Shift+E = true

## Normally ZenMods request gamepad remapping as needed on a per mod basis.
## Set this to true to force the extended gamepad remap to always be applied. [restart required]
# Setting type: Boolean
# Default value: false
Gamepad Force Remap = false

## Enable or disable the emote wheel activation when using a gamepad.  
## If this is disabled the emote wheel can only be activated via keyboard.
## Some players only play single player and do not need or want the wheel.
# Setting type: Boolean
# Default value: true
Gamepad Emote Wheel = true

## How long to hold the button before activating the emote wheel on gamepad. (Vanilla: 0.33)
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0,33 to 2
Gamepad Emote Wheel Duration = 1

## Swap the Mouse3 and Mouse4 buttons. (Vanilla: false)
# Setting type: Boolean
# Default value: false
Swap Mouse3 Mouse4 = false

